:root {
  --color1: #F4EEFF;
  --color2: #DCD6F7;
  --color3: #A6B1E1;
  --color4: #424874;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.user-signup {
  background-color: var(--color2);
  
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

button {
  background-color: var(--color3);
  color: white;
  border: none;
  padding: 14px 24px;
  margin: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  width: 85%;
}

button:hover {
  background-color: var(--color4);
  color: white;
}

.role-selection {
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color1);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
}

.role-selection h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
